<nav class="navbar">
    <h1> View Academy Details </h1>
</nav>
<div class="academy-details">
        <a><label><b>Academy Name : </b></label> {{academy.academyName}}</a>

    
        <label><b>Contact Number : </b></label> {{academy.contactNumber}}
    

    <!--<div class="academy-details-items">
        <label><b>Image Url : </b></label> {{academy.imageUrl}}
    </div>-->

    
        <label><b>Email Id : </b></label> {{academy.emailId}}
    

    
        <label><b>Academy Description : </b></label> {{academy.academyDescription}}
    
</div>