<p>View Academy Details</p>
<div>
    <div>
        <label><b>Academy Name : </b></label> {{academy.academyName}}
    </div>

    <div>
        <label><b>Contact Number : </b></label> {{academy.contactNumber}}
    </div>

    <div>
        <label><b>Image Url : </b></label> {{academy.imageUrl}}
    </div>

    <div>
        <label><b>Email Id : </b></label> {{academy.emailId}}
    </div>

    <div>
        <label><b>Academy Description : </b></label> {{academy.academyDescription}}
    </div>
</div>