<nav class="navbar">
    <a id="navlink1">Abacus academy</a>
    <a (click)="viewAcademy()" id="userAcademy">Academy</a>
    <a (click)="viewAcademy()" id="userAcademy">Enrolled Courses</a>
    <a (click)="addFeedback()" id="userAcademy">Feedback</a>
    <a (click)="logout()" id="logout">Logout</a>
</nav>
<div class="formbody">
    <table class="table">
        <thead>
            <tr>
                <th>Course Name</th>
                <th>Course Duration</th>
                <th>Course Timing</th>
                <th>Number of Students</th>
                <th>Course Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let course of courses">
                <td>{{course.name}}</td>
                <td>{{course.duration}}</td>
                <td>{{course.timing}}</td>
                <td>{{course.enrolled}}</td>
                <td>{{course.description}}</td>
                <td>
                    <button (click) = "enrollCourse(course.id)" class="btn btn-info" style="margin-left: 10px">Enroll</button>
                </td>

            </tr>
        </tbody>
    </table>
</div>