<ul class="navbar-nav">
    <a id="home" class="nav-link nav-item active" (click)="viewAcademy()" routerLinkActive="active">Academy</a>
    <a id="course" class="nav-link nav-item" (click)="goToCourseList()" routerLinkActive="active">Courses</a>
    <a id="adminStudents" class="nav-link nav-item" (click)="viewStudent()" routerLinkActive="active">Students</a>
  </ul>
<div class="formbody">
    <table class="table">
        <thead>
            <tr>
                <th>Course Name</th>
                <th>Course Duration(Months)</th>
                <th>Course Timing</th>
                <th>Number of Students</th>
                <th>Course Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let course of courses">
                <td>{{course.name}}</td>
                <td>{{course.duration}}</td>
                <td>{{course.timing}}</td>
                <td>{{course.enrolled}}</td>
                <td>{{course.description}}</td>
                <td>
                    <button (click) = "editcourse(course.id)" class="btn btn-info">Edit</button>
                    <button (click) = "deletecourse(course.id)" class="btn btn-danger" style="margin-left: 10px">Delete</button>
                    <button (click) = "courseDetails(course.id)" class="btn btn-info" style="margin-left: 10px">View</button>
                </td>

            </tr>
            <tr :hover style="background-color:transparent">
                <td style="border:0px;"> </td>
                <td style="border:0px;"> </td>
                <td style="border:0px;"> </td>
                <td style="border:0px;"> </td>
                <td style="border:0px;"> </td>
                <td>
                    <button (click) = "addCourse()" class="btn btn-info" style="margin-left: 10px">Add Course</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>